#chakra-badge-color-display {
  color: rgba(255, 255, 255, 0.36); // whiteAlpha
  color: rgba(0, 0, 0, 0.36); // blackAlpha
  color: #718096; // gray unsharp display
  color: #E53E3E; // red --chakra-colors-red-500
  color: #DD6B20; // orange
  color: #D69E2E; // yellow [JS]
  color: #38A169; // green
  color: #319795; // teal
  color: #3182ce; // blue
  color: #00B5D8; // cyan [React]
  color: #805AD5; // purple
  color: #D53F8C; // pink [CSS]
  color: #00A0DC; // linkedin
  color: #385898; // facebook
  color: #0078FF; // messenger
  color: #22c35e; // whatsapp [Vue2] [Vue3]
  color: #1DA1F2; // twitter
  color: #0088CC; // telegram
}
